/* App.css */
body {
  background-color: #f8f8f2; /* Off-white */
  font-family: Arial, sans-serif;
  margin: 0;
}

/* Navbar */
.navbar {
  background-color: #333; /* Dark grey */
  padding: 10px;
  display: flex;
  justify-content: center;
}

.nav-btn {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none; /* Remove underline */
}

.nav-btn.state-to-circuit {
  background-color: #84a9ff; /* Lighter blue */
}

.nav-btn.circuit-to-state {
  background-color: #b084cc; /* Lighter purple */
}

.nav-btn {
  color: white;
}
