/* CircuitToState.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; 
  text-align: center;
}

.container header {
  margin-top: 20px;
}

.container header h1 {
  color: #333;
}

/**********  DROPDOWN CONFIGURATION  **********/
.dropdown-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; 
  gap: 10px; 
  width: 90%;
  margin-bottom: 20px;
}  

select {
  padding: 8px 10px;
  font-size: 16px;
  border: 2px solid #c2a3eb;
  border-radius: 6px;
  cursor: pointer;
  color: #333;
  transition: all 0.2s ease;
}

select:hover {
  border-color: #9068c1;
  box-shadow: 0 0 5px rgba(191, 111, 223, 0.3);
}

select:focus {
  outline: none;
  border-color: #9068c1;
  box-shadow: 0 0 5px rgba(191, 111, 223, 0.3);
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.checkbox-container input[type="checkbox"] {
  width: 22px;
  height: 22px;
  margin: 0;
  border-radius: 4px;
  cursor: pointer;
  accent-color: #6f42c1;
}

.checkbox-container input[type="checkbox"]:hover {
  outline: none;
  border-color: #9068c1;
  box-shadow: 0 0 5px rgba(191, 111, 223, 0.3);
}

.custom-label {
  cursor: pointer;
  user-select: none;
  color: #333;
}

.dropdown-btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.generate-btn, .auto-generate-btn, .ok-btn, .next-btn, .giveup-btn {
  padding: 10px 10px;
  font-size: 16px;
  background-color: #4CAF50; 
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.ok-btn, .next-btn, .giveup-btn {
  padding: 8px 10px;
}

.auto-generate-btn, .ok-btn {
  background-color: #5e35b1;
}

.generate-btn:hover {
  background-color: #3f9343;
}

.auto-generate-btn:hover, .ok-btn:hover {
  background-color: #442387;
}

.generate-btn.disabled, .next-btn.disabled, .giveup-btn.disabled {
  background-color: #ccc;
  cursor: not-allowed;
  pointer-events: none;
}

/**********  CIRCUIT CANVAS  **********/
.circuit-container {
  width: 88%;
  background-color: white;
  border: 3px solid #9068c1;
  border-radius: 12px;
  margin-bottom: 20px;
  position: relative;
}

.circuit-scrollable {
  overflow-x: auto;
  white-space: nowrap;
}

canvas { 
  max-width: 1100px;  
  padding: 20px 15px;
}

.canvas-container {
  display: inline-block;
}

.circuit-export-btn-wrapper {
  position: absolute; 
  top: 8px;
  right: 8px;
  z-index: 20;
}

/**********  LOGIC EQUATIONS SECTION  **********/
.equation-section {
  text-align: center;
  padding: 0 16px;
  background: #b1b1b120;
  border: 2px solid #b1b1b120;
  border-radius: 12px;
  padding: 0 20px;
  margin: 0 auto 20px auto;
  width: 65%;
  overflow: auto;
}

.equation-section h3 {
  text-align: center;
  font-size: 16px;
}

.equation-section.active {
  color: #333;
  line-height: 1.6;
  background: #f9f1ff;
  border: 2px solid #c2a3eb;
}

.equation-section.active .equation-item {
  display: inline-block; 
  margin-right: 1.25rem; 
  white-space: nowrap; 
}

.equation-section.active p {
  overflow-wrap: break-word; 
  word-wrap: break-word; 
  word-break: break-word;
  margin-bottom: 10px;
}

.maxterm {
  font-family: "Times New Roman", "Courier New", serif;
  font-size: 1.15em;
  font-weight: normal;
  color: #333; 
}

.content-box.active .customEqn-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.customEqn-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.customEqn-tooltip {
  position: absolute;
  top: 3rem; 
  right: 0;
  color: #333;
  border: 2px solid #c2a3eb;
  color: #333;
  padding: 16px;
  border-radius: 5px;
  font-size: 14px;
  max-width: 500px;
  background: white;
  border-radius: 8px;
  border: 2px solid #c2a3eb;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: fadeInTooltip 0.2s ease-in-out;
}

.content-box .customEqn-tooltip p, .customEqn-tooltip ul {
  color: #333;
  line-height: 1.8;
  text-align: left;
  margin: 0;
}

.custom-equation {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  color: #333;
}

.custom-select  {
  font-family: "Times New Roman", serif; 
}

.custom-equation input {
  padding: 6px 10px;
  font-size: 1em;
  border: 2px solid #dbc3ffae;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.custom-equation input:focus {
  outline: none;
  border-color: #9068c1;
  box-shadow: 0 0 5px rgba(191, 111, 223, 0.3);
}

.ok-btn {
  margin-top: 12px;
}

.boolean-btn {
  background-color: #6f42c1;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.8rem;
  margin-bottom: 16px;
  margin-top: 0;
}

/**********  INSTRUCTION SECTION  **********/
.instruction-section.active {
  width: 80%;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.6;
}

.instruction-section.active p {
  margin: 0;
}

/**********  EXERCISE SECTIONS  **********/
.content-box {
  padding: 24px 20px;
  margin: 0 0 20px 0;
  width: 65%;
  background-color: #ffffff;
  border-radius: 12px;
  border: 2px solid #f9eeff;
  text-align: center;
  position: relative;
}

.content-box .content-title {
  margin: 0;
  font-size: 20px;
  margin-bottom: 0;
  color: #ccc; 
}

.content-box.active .content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #f9eeff;
}

.content-box.active .left-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px; 
}

.content-box.active .content-title, .content-box .customEqn-title {
  color: #5e35b1;
  font-size: 18px;
  margin: 0;
}

.content-box .customEqn-subtitle {
  font-size: 14px;
  color: #333;
  margin: 16px auto;
}

.stateDiagram-box, .stateDiagram-box.active {
  margin-bottom: 80px;
}

.stateDiagram-box.active .state-container {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 20px auto;
  background-color: white;
  border: 3px solid #9068c1;
  border-radius: 12px;
  padding: 0;
}

/**********  CONTENT BUTTON GROUP  **********/
.content-btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;      
  margin: 20px auto 0 auto;
}

.next-btn {
  background-color: #5e35b1; 
}

.giveup-btn {
  background-color: #ff4444; 
}

.export-btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2788ef;
  background-color: transparent;
  cursor: pointer;
}

.export-btn.disabled {
  color: #ccc;
  cursor: not-allowed;
  pointer-events: none;
}

.next-btn.active:hover {
  background-color: #442387;
}

.giveup-btn.active:hover {
  background-color: #dd0e0e; 
}

.export-btn.active:hover, .export-btn:hover {
  color: #0056b3;
}

.exportFull-btn {
  border: none;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #2788ef;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  gap: 10px;
  transition: background-color 0.2s ease;
  margin-bottom: 100px;
}

.exportFull-btn:hover {
  background-color: #0056b3;
}

/**********  INFO ICON TOOLTIP  **********/
.info-icon {
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2788ef;
  cursor: pointer;
}

.info-icon:hover{
  color: #0056b3;
}

.info-tooltip-cts {
  position: absolute;
  top: 3rem; 
  left: 0;
  padding: 18px;
  background: white;
  border-radius: 8px;
  border: 2px solid #c2a3eb;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  z-index: 1000;
  font-size: 14px;
  color: #333;
  animation: fadeInTooltip 0.2s ease-in-out;
}

.info-tooltip-cts p {
  text-align: left;
  line-height: 1.4;
  margin: 0;
}

@keyframes fadeInTooltip {
  from {
      opacity: 0;
      transform: translateY(-10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.info-custom {
  color: #2788ef;
}

/**********  TABLE STRUCTURE  **********/
table {
  width: 100%;
  border-collapse: collapse;
  margin: 16px auto 0 auto;
}

table th, table td {
  border: 1px solid #ede1ff;
  padding: 2.6px;
  text-align: center;
  font-size: 16px;
}

table th {
  background: #9068c1;
  font-size: 16px;
  color: #ffffff;
  padding: 8px;
}

table td input {
  width: 100%;
  padding: 2.6px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
  border: 2px solid #dbc3ffae;
  font-size: 16px;
  transition: all 0.2s ease;
}

table td input:focus {
  outline: none;
  border-color: #9068c1;
  box-shadow: 0 0 5px rgba(191, 111, 223, 0.3);
}

table tr:hover {
  background-color: #f6ebfe;
}

.currentState-column {
  width: 115px; 
}

.inputX-column {
  width: 70px; 
}

.outputZ-column {
  width: 70px; 
}

.input-correct {
  background-color: transparent;
  border: 2px solid transparent;
}

.input-incorrect {
  background-color: #ffe6e6;
  border-color: #ff4444;
}

.input-givenup {
  background-color: #f0f0f0;
  color: #666;
  border-color: #999;
}

.input-default {
  background-color: #fff;
}

.table-container {
  overflow-x: auto;
  white-space: nowrap;
}

.tooltip-focus {
  color: #ff4444;
  font-size: 14px;
}

/**********  POPUP DISPLAY **********/
.error-popup-overlay, .boolean-popup-overlay, .transition-popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.error-popup-content, .boolean-popup-content, .transition-popup-content {
  background: white;
  line-height: 1.6;
  text-align: left;
  color: #333;
  padding: 20px 30px;
  border-radius: 12px;
  max-width: 500px;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-out;
}

.transition-popup-content {
  width: 80%;
}

.boolean-popup-content h3 {
  margin-top: 0;
  font-size: 1.2rem;
  margin-bottom: 12px;
}

.transition-popup-content h2 {
  margin-top: 0;
  margin-bottom: 12px;
  text-align: center;
}

.error-popup-content p, .transition-popup-content pre {
  font-size: 18px;
  text-align: center;
}

.boolean-popup-content p:last-of-type {
  margin-bottom: 0;
}

.transition-popup-content pre {
  margin-bottom: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/**********  RESPONSIVE LAYOUT *********/
@media (max-width: 1064px) {
  .canvas-container {
    width: 90%; 
  }

  .content-box {
    width: 80%;
  }

  .equation-section, .equation-section.active {
    width: 80%;
  }
}

@media (max-width: 875px) {
  .dropdown-container select {
    margin-bottom: 10px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .error-popup-content, .boolean-popup-content, .transition-popup-content {
    width: 68%;
    max-width: 320px;
    padding: 12px;
  }

  .transition-popup-content h2, .boolean-popup-content h3 {
    font-size: 16px;
  }

  .error-popup-content p, .transition-popup-content pre {
    font-size: 14px;
  }

  .boolean-popup-content p{
    font-size: 10px;
  }

  .content-box.active .content-title, .customEqn-title {
    font-size: 16px;
  }

  .instruction-section.active p, select, .custom-label, .equation-section p, table th, table td, .content-box.active p, .customEqn-subtitle, .customEqn-tooltip {
    font-size: 14px;
  }

  table td {
    padding: 2.5px;
  }

  select {
    margin-bottom: 2px;
  }

  .generate-btn, .auto-generate-btn, .ok-btn, .next-btn, .giveup-btn {
    font-size: 14px;
    padding: 10px;
  }

  .generate-btn {
    display: block;
  }
}

@media (max-width: 290px) {
  .content-box .custom-equation input {
    width: 80px;
  }
}
