/* CircuitToState.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; 
  text-align: center;
}

.container header {
  margin-top: 20px;
}

.container header h1 {
  color: #333;
}

.dropdown-container {
  display: flex;
  margin: 0 20px 20px 20px;
}   

select {
  margin: 0 10px 0 0;
  padding: 10px;
  font-size: 16px;
  border: 1.5px solid #b084cc;
  border-radius: 5px;
  cursor: pointer;
  color: #333;
}

select:focus {
  outline: 1px solid #b084cc;
}

.generate-btn {
  margin: 0;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #5e3b8f; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.generate-btn:hover {
  background-color: #452276;
}

.generate-btn.disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.selection-display {
  background-color: #5e3b8f; 
  border: 1px solid #ddd; 
  padding: 0 20px;
  margin-bottom: 20PX;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}

.canvas-container {
  width: 80%; 
  margin-bottom: 20px;
}

canvas { 
  max-width: 1200px; 
  padding: 20px;
  background-color: white;
  border: 3px solid #b084cc; 
  border-radius: 12px;
}

.minterms-section {
  text-align: left;
  margin: 0 auto;
  padding: 0 60px 10px 60px;
  color: #333;
}

.minterms-section h3 {
  text-align: center;
}

.content-box {
  border: 1px solid black;
  padding: 10px 20px;
  margin: 0 0 20px 0;
  width: 65%;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid #f9eeff;
  /*max-width: 600px; */
  text-align: center;
}

.content-box h2, .content-box p {
  color: #aaa; 
}

.content-box.active h2, .content-box.active p {
  color: #333;
}

.next-btn {
  margin: 20px;
  padding: 10px 16px;
  font-size: 16px;
  background-color: #5e3b8f; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.next-btn:hover {
  background-color: #452276;
}

.next-btn.disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  background-color: #b084cc; 
  color: #fff;
}

table th, table td {
  border: 1px solid #5e3b8f;
  padding: 4px;
  text-align: center;
}

table td input {
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
  text-align: center;
}

.input-correct {
  background-color: #befcbe;
}

.input-incorrect {
  background-color: #ffa5a5;
}

.input-default {
  background-color: #fff;
}

/* Responsive layout */
@media (max-width: 900px) {
  .dropdown-container {
    flex-direction: column;
    align-items: center;
  }
  
  select {
    margin-bottom: 10px;
    width: 100%;
  }
  
  .canvas-container {
    width: 80%; 
  }

  .content-box {
      width: 80%;
  }
}