/* CTSConversion.css */
.state-diagram-wrapper {
    display: flex;           
    justify-content: center;   
    min-width: 1000px; 
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch; /* smooth iOS scrolling */
    touch-action: pan-x; /* allow horizontal scroll on touch */
}
  
#stateDiagram-container {
    overflow-x: auto;
    overflow-y: hidden;
}

.tooltip-transition {
    position: fixed;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
    color: #fff;
    white-space: pre-line; /* new lines rendered */
    background-color: #5e35b1;
    border: 1px solid #c2a3eb;
    padding: 8px 12px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    text-align: center; 
    display: inline-block;
    pointer-events: none; 
    z-index: 1000;
}



  