/* CTSConversion.css */
#stateDiagram-container {
    width: 100%; 
    height: 100%;
    margin: auto;
    background-color: white;
    border: 3px solid #b084cc; 
    border-radius: 12px;
}

.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
  
#stateDiagram-info {
    text-align: center;
    margin-bottom: 20px; 
    font-size: 16px; 
    font-weight: normal;
    font-family: Arial, sans-serif;
}

/* Pop Up Display Styling */
.popup-contentTransition {
    background: #f7ebff;
    padding: 22px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(152, 105, 190, 0.3);
    text-align: center;
    width: 320px;
    border: 2px solid #d1b3ff;
    font-family: 'Poppins', sans-serif;
}
  
.popup-title {
    margin-bottom: 14px;
    font-size: 22px;
    font-weight: bold;
    color: #5e35b1;
}
  
.close-button {
    position: absolute;
    top: 9px;
    right: 10px;
    background: #c6a4eb; 
    border: none;
    color: #2d1e50;
    font-size: 18px;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 50%;
    transition: 0.3s ease;
}
  
.close-button:hover {
    background: #a37cd2;
    color: #fff;
}
  
.state-transition-header {
    background: #e9d8ff; 
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-weight: bold;
}
  
.state-mapping {
    font-size: 18px;
    font-weight: bold;
    margin: 6px 0;
}
  
.state {
    font-weight: bold;
    color: #9c27b0;
}
  
.transition-table {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 12px;
    background: #f4e1ff;
    border-radius: 8px;
    border: 1px solid #d1b3ff;
}
  
.transition-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    border-bottom: 2px solid #d1b3ff;
    padding-bottom: 6px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #5e35b1;
}
  
.transition-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px 0;
    background: #ffffff; 
    border-radius: 6px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: 0px 2px 4px rgba(162, 115, 199, 0.2);
    font-size: 16px;
    transition: 0.3s ease-in-out;
}

.input-value, .output-value {
    font-size: 16px;
    color: #5e35b1;
    flex: 1;
    font-weight: bold;
}
  
  